# Node
node_modules/

# Next.js
.next/
.next-*/
out/
.vercel/

# Turbopack / build caches
.turbo/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# pnpm store
.pnpm-store/

# Coverage
coverage/

# Misc
*.local
